<a href="{{ url_for('aziz.aziz') }}">
    <button style="background-color:#4CAF50;color:white;padding:12px 24px;">
      Go to Aziz Index Page
    </button>
  </a>


  <a href="{{ url_for('nesrine.nesrine') }}">
    <button style="background-color:#4CAF50;color:white;padding:12px 24px;">
      Go to nesrine Index Page
    </button>
  </a>
  
  <a href="{{ url_for('syrine.syrine') }}">
    <button style="background-color:#4CAF50;color:white;padding:12px 24px;">
      Go to syrine Index Page
    </button>
  </a>
  
  <a href="{{ url_for('islem.islem') }}">
    <button style="background-color:#4CAF50;color:white;padding:12px 24px;">
      Go to islem Index Page
    </button>
  </a>
  
  <a href="{{ url_for('hamza.hamza') }}">
    <button style="background-color:#4CAF50;color:white;padding:12px 24px;">
      Go to hamza Index Page
    </button>
  </a>
  
  <a href="{{ url_for('emna.emna') }}">
    <button style="background-color:#4CAF50;color:white;padding:12px 24px;">
      Go to emna Index Page
    </button>
  </a>
  